body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.info {
  position: fixed;
  top: 60%;
  display: flex;
  align-items: center;
  width: 1200px;
  max-width: 95%;
  z-index: +1;
  pointer-events: none;
}
.info {
  left: 50%;
  transform: translate(-50%, -50%);
}

html, body, #app, #app>div {
  height: 100%
}

#root{
  height: 100%
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/detailbg.webp");
  background-size: 100% 100%;
}

.name {
  position: relative;
  z-index: +2;
  width: 100%;
}

.name span {
  color: rgba(255, 255, 255, 0.9);
  padding: 0.2% 0 0.5%;
  display: block;
}
.name span.animate {
  animation-delay: 2s !important;
  animation: revealName forwards 0.8s 1;
  opacity: 0;
}

.name .text.animate {
  animation-delay: 1.3s !important;
  animation: revealName forwards 0.8s 1;
  opacity: 0;
  transform: translateX(20px);
}
.name .text {
  max-width: 38%;
  font-size: 2.5em;
  line-height: 1.2em;
  color: #fff;
  -webkit-text-stroke: 0.04rem #000;
}

.text,
.star {
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.5));
}

.icon {
  margin-top: -5px;
  position: relative;
  width: 5rem;
}

.icon.animate {
  opacity: 0;
  animation-delay: 1.2s !important;
  animation: revealIcon forwards 1.3s 1;
}

.gi-star {
  color: #f7cf33;
  font-size: 1.525em;
  display: inline-block;
}
.gi-star.animate {
  opacity: 0;
  transform: scale(5);
  animation: revealStar forwards 0.4s 1;
}

@keyframes revealIcon {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes revealName {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes revealStar {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes opacityChange {
  80% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.art-wrapper {
  width: 100%;
  height: 100%;
}

.zoomist-wrapper,
	.zoomist-image {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.zoomist-wrapper {
		--scale: 1.5;
		--translate-x: 0px;
		--translate-y: 0px;
		background-color: unset;
		position: relative;
	}
	.zoomist-wrapper.weapon {
		--scale: 1.1;
	}

	img {
		width: 100%;
		height: 100%;
		display: block;
		object-fit: contain;
		object-position: center;
	}

	.splash-art.anim {
		filter: brightness(0) opacity(0);
		animation: splashart forwards 1.5s 1;
	}
	.splash-art:not(.anim) {
		transform: translate(2%, 0);
	}

	.zoomist-image {
		position: relative;
		width: var(--width);
		height: var(--height);
	}

  @keyframes splashart {
		0% {
			transform: scale(5) translate(0, -5%);
			filter: brightness(0);
		}

		20% {
			transform: scale(1);
			filter: brightness(0);
		}
		75% {
			transform: scale(1);
			filter: brightness(0);
		}
		95% {
			transform: scale(1) translate(2%, 0);
			filter: brightness(1);
		}
		100% {
			transform: scale(1) translate(2%, 0);
			filter: brightness(1);
		}
	}



	.orbs {
		background-color: transparent;
		border-radius: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0);
		transform-origin: 0 0;
		opacity: 0;
	}


	.out {
		transform: scale(0) translate(-50%, -50%);
		opacity: 0;
	}
	.out {
		animation: outOrbs forwards 1;
	}

	.out1 {
		width: 50%;
		background-color: rgb(254 133 63 / 5%);
	}

	.out2 {
		width: 100%;
	}

	.out3 {
		width: 150%;
	}

	.star5.out1 {
		box-shadow: 0 0 50px rgb(251 193 60 / 50%), inset 0 0 50px rgb(251 193 60 / 50%);
	}
	.star5.out2 {
		box-shadow: 0 0 150px rgb(255 255 255 / 50%), inset 0 0 170px rgb(255 255 255 / 50%);
	}
	.star5.out3 {
		box-shadow: 0 0 200px rgb(253 148 48 / 60%), inset 0 0 170px rgb(253 148 48 / 60%);
	}


	@keyframes orbs2 {
		0% {
			transform: scale(0) translateX(-50%);
		}
		90% {
			transform: scale(1) translateX(-50%);
			opacity: 1;
		}
		100% {
			transform: scale(1) translateX(-50%);
			opacity: 0;
		}
	}

	@keyframes outOrbs {
		30% {
			opacity: 1;
		}
		100% {
			transform: scale(2) translate(-50%, -50%);
			opacity: 0;
		}
	}